
html, body, textarea, button {
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid 1px rgba(191, 72, 28, 0.75);
}

a:hover {
  color: solid 1px rgba(191, 72, 28, 0.95);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(128, 128, 128);
}

.hidden {
  display: none !important;
}

.logo-wrapper {
  padding: 0.5em 1em;
  background-color: rgb(16, 16, 16);
  box-shadow: 0 0.3em 0.35em rgba(0, 0, 0, 0.5);
}

.logo {
  height: 3.5em;
  background-size: 10em auto;
  background-repeat: no-repeat;
  background-image: url('../images/medic-logo-light.svg');
}

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 5em;
  bottom: 1em;
  padding: 1.5em;
}

.body-container {
  height: 100%;
  max-width: 70em;
  margin: 0 auto;
}

.body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border: solid 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0.3em 0.3em 0.75em rgba(0, 0, 0, 0.5);
}

.step {
  color: #aaa;
  padding: 1.25em 1em;
  border-bottom: solid 1px #ccc;
}

.step label {
  color: #555;
  display: block;
  font-size: 1.85em;
  line-height: 1.35em;
  margin: 0 1em 0 2.25em;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.number {
  float: left;
  background-color: #777;
  border-radius: 1em;
  height: 2em;
  font-size: 1.35em;
 width: 2em;
  color: #fff;
  text-align: center;
}

.number * {
  display: inline;
  line-height: 2em;
  vertical-align: middle;
}

.content {
  padding-bottom: 6em;
}

.actions {
  height: 5em;
  position: relative;
  top: -5em;
  width: 100%;
  border-top: solid 1px #ccc;
  background-color: rgba(255, 255, 255, 0.95);
}

button {
  color: #fff;
  border: none;
  margin: 0.65em;
  float: right;
  display: block;
  cursor: pointer;
  padding: 1em 1.25em;
  border-radius: 0.25em;
  background-color: rgba(191, 72, 28, 0.8);
}

button.hover {
  background-color: rgba(191, 72, 28, 0.95);
}

button[disabled] {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.4);
}

button[disabled] label {
  cursor: not-allowed;
}

button label {
  cursor: pointer;
  line-height: 1.75em;
  text-transform: uppercase;
}

button .icon {
  padding: 0 0.25em;
}

button label, button .icon {
  font-size: 0.95em;
}

button.right {
  text-align: right;
}

.inner {
  padding: 1em 2em;
  font-size: 1.05em;
}

.rows {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 35em;
  font-size: 1.25em;
}

.row {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 0.25em 0;
}

.row input {
  font-size: 1.05em;
  margin-top: 2px;
}

.row textarea {
  font-size: 0.8em;
}

.row label {
  width: 10em;
  display: block;
  float: left;
  line-height: 1.75em;
}

.row .hint {
  float: left;
  clear: left;
  color: #aaa;
  display: block;
  font-size: 0.65em;
}

.row .field {
  left: 10em;
  right: 0.5em;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
}

.row textarea {
  resize: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 0.8em;
  border: solid 1px #ccc;
}

.row input {
  resize: none;
  width: 100%;
}

.row.tall {
  height: 4em;
  overflow: visible;
}

.actions .status {
  float: left;
  padding: 0 1em;
  line-height: 5em;
  color: #888;
  overflow: hidden;
  font-style: italic;
  position: absolute;
  left: 0;
  right: 22.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status .error {
  font-weight: bold;
  font-size: 1.1em;
  color: rgba(171, 54, 50, 0.9);
}

.status .number {
  font-size: 1.15em;
  margin: 1.25em 0.75em;
  background-color: rgba(171, 54, 50, 0.9);
}

.status .number * {
  color: #fff;
  display: block;
  line-height: 2em;
}

.status .number .fa-check {
  line-height: 2.05em;
}
.step .number .fa-check {
  line-height: 2.05em;
}

.step .number .before,
.step.finished .number .after {
  display: inline;
}

.step .number .after,
.step.finished .number .before {
  display: none;
}

.step.finished .number {
  background-color: rgb(109, 183, 120);
}

.step.finished label {
  color: rgb(109, 183, 120);
}

.progress {
  font-size: 0.92em;
}

.progress .text {
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  font-size: 1.35em;
  text-align: center;
  padding-bottom: 1.5em;
}

.spinner, .success, .failure {
  margin: 4em auto 2.5em auto;
  width: 5em;
  height: 5em;
  position: relative;
}

@-webkit-keyframes rotate {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: rotate 1.5s linear infinite;
  -webkit-animation: rotate 1.5s linear infinite;
}

.success .fa, .failure .fa {
  height: 100%;
  width: 100%;
  color: #555;
  font-size: 8em;
  position: relative;
}

.success .fa {
  top: -0.1em;
  left: -0.15em;
  color: rgba(109, 183, 120, 0.85);
}

.failure .fa {
  top: -0.15em;
  left: -0.28em;
  color: rgba(171, 54, 50, 0.85);
}

.failure {
  font-weight: bold;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 1em;
  height: 1em;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.container1 > div, .container3 > div {
  background-color: #333;
}

.container2 > div {
  background-color: rgba(191, 72, 28, 0.95);
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media screen and (max-width: 519px) {

  .wrapper {
    padding: 0;
  }

  .row {
    overflow: visible;
  }

  .row label {
    width: auto;
  }

  .row .field {
    position: relative;
    left: 0;
    right: 1em;
    clear: left;
  }

  .row input, .row textarea {
    float: none;
    display: block;
  }

  .row textarea {
    height: 100%;
  }

  .field {
    height: 100%;
  }

  .rows {
    padding: 0 1em 0 0.25em;
  }

  .wrapper, .content, .body {
    overflow: visible;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
  }

  .body {
    border: none;
    box-shadow: none;
  }

  .actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .step .number {
    font-size: 1.15em;
  }

  .step label {
    font-size: 1.35em;
    line-height: 1.75em;
    margin-left: 2.5em;
  }

  .row .hint {
    float: right;
    clear: right;
    font-size: 0.55em;
  }

  .content {
    padding-bottom: 8em;
  }

  html, body {
    height: auto;
  }

  body {
    background-color: #fff;
  }

}

@media screen and (max-width: 360px) {

  .step label {
    font-size: 1.05em;
    line-height: 2.15em;
    margin-left: 3em;
  }

}

