
html, body, input, textarea, button {
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(128, 128, 128);
}

.hidden {
  display: none !important;
}

.logo-wrapper {
  padding: 0.5em 1em;
  background-color: rgb(16, 16, 16);
  box-shadow: 0 0.3em 0.35em rgba(0, 0, 0, 0.5);
}

.logo {
  height: 3.5em;
  background-size: 10em auto;
  background-repeat: no-repeat;
  background-image: url('../images/medic-logo-light.svg');
}

.body {
  margin: 0;
  position: absolute;
  left: 2.5%;
  right: 2.5%;
  top: 6.5em;
  bottom: 2em;
  min-height: 25em;
  border: solid 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0.3em 0.3em 0.75em rgba(0, 0, 0, 0.5);
}

.step {
  color: #aaa;
  padding: 1.25em 1em;
  border-bottom: solid 1px #ccc;
}

.step label {
  color: #555;
  display: block;
  font-size: 1.65em;
  line-height: 1.35em;
  margin: 0 1em 0 2.25em;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.step .number {
  float: left;
  background-color: #777;
  border-radius: 1em;
  height: 2em;
  font-size: 1.15em;
  width: 2em;
  color: #fff;
  text-align: center;
}

.step .number * {
  display: inline;
  line-height: 2em;
  vertical-align: middle;
}

.content {
  position: absolute;
  top: 0em;
  bottom: 5em;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.actions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5em;
  border-top: solid 1px #ccc;
  background-color: rgba(255, 255, 255, 0.8);
}

button {
  color: #fff;
  margin: 0.65em;
  padding: 1em 1.25em;
  float: right;
  display: block;
  cursor: pointer;
  border-radius: 0.25em;
  border: none;
  background-color: rgba(191, 72, 28, 0.8);
}

button:hover {
  background-color: rgba(191, 72, 28, 0.95);
}

button[disabled] {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.4);
}

button[disabled] label {
  cursor: not-allowed;
}

button label {
  cursor: pointer;
  line-height: 1.75em;
  text-transform: uppercase;
}

button .icon {
  padding: 0 0.25em;
}

button label, button .icon {
  font-size: 0.95em;
}

button.right {
  text-align: right;
}

.inner {
  padding: 1em 2em;
  font-size: 1.05em;
}

.rows {
  font-size: 1.25em;
  padding: 1em 2em 1em 2em;
}

.row {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 0.25em 0;
}

.row input {
  font-size: 1.05em;
}

.row textarea {
  font-size: 0.8em;
}

.row label {
  width: 10em;
  display: block;
  float: left;
  line-height: 1.75em;
}

.row .hint {
  float: left;
  clear: left;
  color: #aaa;
  display: block;
  font-size: 0.65em;
}

.row .field {
  left: 10em;
  right: 0.5em;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
}

.row textarea {
  resize: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 0.8em;
  border: solid 1px #ccc;
}

.row input {
  resize: none;
  width: 100%;
}

.row.tall {
  height: 4em;
  overflow: visible;
}

.actions .status {
  float: left;
  padding: 0 1em;
  line-height: 5em;
  color: #555;
  overflow: hidden;
  font-style: italic;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: 0;
  right: 22.5em;
}

.step .number .fa-check {
  line-height: 2.05em;
}

.step .number .before,
.step.finished .number .after {
  display: inline;
}

.step .number .after,
.step.finished .number .before {
  display: none;
}

.step.finished .number {
  background-color: rgb(109, 183, 120);
}

.step.finished label {
  color: rgb(109, 183, 120);
}

@media screen and (max-width: 639px) {

  .row {
    overflow: visible;
  }

  .row label {
    width: auto;
  }

  .row .field {
    position: relative;
    left: 0;
    right: 1em;
    clear: left;
  }

  .row input, .row textarea {
    float: none;
    display: block;
  }

  .row textarea {
    height: 100%;
  }

  .field {
    height: 100%;
  }

  .rows {
    padding: 0 1em 0 0.25em;
  }

  .inner {
    padding-bottom: 9em;
  }

  .content, .body {
    overflow: visible;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
  }

  .actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .step label {
    font-size: 1.35em;
    line-height: 1.75em;
    margin-left: 2.5em;
  }

  .row .hint {
    float: right;
    clear: right;
    font-size: 0.55em;
  }

  html, body {
    height: auto;
  }

}

@media screen and (max-width: 360px) {

  .step label {
    font-size: 1.05em;
    line-height: 2.15em;
    margin-left: 3em;
  }

}

